@font-face {
    font-family: 'On';
    src: url(../fonts/Onest-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'On';
    src: url(../fonts/Onest-SemiBold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'On';
    src: url(../fonts/Onest-Bold.ttf);
    font-weight: 900;
    font-style: normal;
}